.password-icon{
    position:absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
}
.password-container{ 
    position: relative;
    width: 100%;
}
.password-container input{
    padding: 5px 30px 5px 10px;
    font-size: 20px;
}
.password-container img{
    cursor: pointer;
    position: absolute;
    width: 20px;
    right: 8px;
    top: 8px;
}
.confirm-password-icon{
    position:absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
}
.confirm-password-container{
    position: relative;
    width: 100%;
}
.confirm-password-container input{
    padding: 5px 30px 5px 10px;
    font-size: 20px;
}
.confirm-password-container img{
    cursor: pointer;
    position: absolute;
    width: 20px;
    right: 8px;
    top: 8px;
}